{% extends 'layout.html' %}

{% block body %}
<p>User : {{user}}</p>
<form action="/", method="post">
    <label for="choice">Pilihan Anda : </label>
    <select name="choice" required>
        <option disabled selected hidden>Presiden</option>
        <option value="Jokowi">Jokowi</option>
        <option value="Prabowo">Prabowo</option>
        <option value="Anies">Anies</option>
        <option value="Ganjar">Ganjar</option>
    </select>
    <br><button type="submit">Submit</button>
</form>
{% endblock body %}